<div class="page-shadow playlist-page" ng-controller="ExternalPlayerControlsController" pretty-scrollbar>
    <div ng-controller="PlaylistTracksController" ng-show="playlistReady">
        <div class="playlist-header">
            <div class="playlist-image">
                <img ng-src="{{ getImageForPlaylist() }}">
            </div>

            <div class="info">
                <div class="playlist-name">{{ playlist.name }}</div>

                <div class="playlist-info">
                    <div class="info-container">
                        <div class="name">{{:: 'createdBy' | translate }}:</div>
                        <div class="value"><a ui-sref="user({ id:playlist.creatorId })">{{ playlist.createdBy }}</a></div>
                    </div>
                    <div class="info-container">
                        <div class="name">{{:: 'runningLength' | translate }}:</div>
                        <div class="value">{{ playlist.tracks.length }} {{:: 'tracks' | translate }}</div>
                    </div>
                    <div class="info-container">
                        <div class="name">{{:: 'runningTime' | translate }}:</div>
                        <div class="value">{{ totalLength }}</div>
                    </div>
                </div>

                <div class="actions" ng-controller="PlaylistModifyController">
                    <button class="primary" ng-if="!playlistIsPlaying" ng-click="playAllTracks()"><i class="icon icon-play"></i> {{:: 'play' | translate }}</button>
                    <button class="primary" ng-if="playlistIsPlaying" ng-click="pauseAllTracks()"><i class="icon icon-pause"></i> {{:: 'pause' | translate }}</button>

                    <button ng-click="followPlaylist()" ng-if="!playlist.is_owner && !playlistIsFollowed()">{{:: 'follow' | translate }}</button>
                    <button ng-click="unfollowPlaylist()" ng-if="!playlist.is_owner && playlistIsFollowed()">{{:: 'unfollow' | translate }}</button>

                    <button class="option-btn" ng-click="showShareModal()" tooltips tooltip-title="{{:: 'sharePlaylist' | translate }}"><i class="icon icon-share"></i></button>
                    <button class="option-btn" ng-click="copyPlaylistLink()" tooltips tooltip-title="{{:: 'copyPlaylistLink' | translate }}"><i class="icon icon-link"></i></button>
                    <button class="option-btn" ng-if="playlist.is_owner" ng-click="openRenamePlaylistModal()" tooltips tooltip-title="{{:: 'renamePlaylist' | translate }}"><i class="icon icon-pencil"></i></button>
                    <button class="option-btn" ng-if="playlist.is_owner" ng-click="confirmDeletePlaylist(playlist)" tooltips tooltip-title="{{:: 'deletePlaylist' | translate }}"><i class="icon icon-trash"></i></button>
                    <button class="option-btn" ng-if="playlist.public && playlist.is_owner" ng-click="playlists.makePlaylistPrivate(playlist)" tooltips tooltip-title="{{:: 'makePlaylistPrivate' | translate }}"><i class="icon icon-lock-open"></i></button>
                    <button class="option-btn" ng-if="!playlist.public && playlist.is_owner" ng-click="playlists.makePlaylistPublic(playlist)" tooltips tooltip-title="{{:: 'makePlaylistPublic' | translate }}"><i class="icon icon-lock"></i></button>
                </div>
            </div>
        </div>

        <div class="flex-table album-table" ng-show="playlist.tracks && playlist.tracks.length" sortable-table-header>
            <div class="flex-table-row flex-table-header">
                <div class="flex-table-row-item track-number">#</div>
                <div class="flex-table-row-item add-remove-track hidden-phone"></div>
                <div class="flex-table-row-item track-name" sort-field="name">{{:: 'song' | translate }}</div>
                <div class="flex-table-row-item artist-name" sort-field="album.artist.name">{{:: 'artist' | translate }}</div>
                <div class="flex-table-row-item album-name hidden-phone" sort-field="album.name">{{:: 'album' | translate }}</div>
                <div class="flex-table-row-item more-options"></div>
                <div class="flex-table-row-item track-duration hidden-phone" sort-field="duration"><i class="icon icon-clock"></i></div>
            </div>
            <div class="flex-table-row" ng-repeat="track in playlist.tracks as sortedTracks" ng-class="{ playing: trackIsPlaying(track), saved: trackSaved(track) }" context-menu-item>
                <div class="flex-table-row-item track-number hover-icon" ng-click="loadQueueAndPlayTrack(track, $index, sortedTracks)">
                    <span class="track-index hidden-tablet">{{ $index+1 }}</span>
                    <div class="play-icon"><i class="icon icon-play"></i></div>
                    <div class="pause-icon"><i class="icon icon-pause"></i></div>
                    <playing-icon class="inside-album-table"></playing-icon>
                </div>
                <div class="flex-table-row-item add-remove-track hidden-phone">
                    <i class="icon icon-plus add-track" ng-click="addTrack(track)"></i>
                    <i class="icon icon-cancel-1 remove-track" ng-click="removeTrack(track)"></i>
                    <i class="icon icon-ok track-added" ng-click="removeTrack(track)"></i>
                </div>
                <div class="flex-table-row-item track-name">
                    {{ track.name }}
                    <featured-artists artist="artist" artists="track.artists" ng-if="album.artist"></featured-artists>
                </div>
                <div class="flex-table-row-item artist-name"><a class="ellipses" ng-href="{{ utils.artistUrl(track.album.artist) }}">{{ track.album.artist.name }}</a></div>
                <div class="flex-table-row-item album-name hidden-phone"><a class="ellipses" ng-href="{{ utils.albumUrl(track) }}">{{ track.album.name }}</a></div>
                <div class="flex-table-row-item more-options"><i class="icon icon-dot-3" more-options-menu="track"></i></div>
                <div class="flex-table-row-item track-duration hidden-phone">{{ track.duration }}</div>
            </div>
        </div>

        <div class="no-tracks" ng-show="!playlist.tracks || ! playlist.tracks.length">
            <h3><i class="icon icon-note"></i> {{:: 'playlistEmpty' | translate }}</h3>
        </div>
    </div>
</div>