.check-item:nth-child(2){ animation-delay: .1s }
.check-item:nth-child(3){ animation-delay: .2s }
.check-item:nth-child(4){ animation-delay: .3s }
.check-item:nth-child(5){ animation-delay: .4s }
.check-item:nth-child(6){ animation-delay: .5s }
.check-item:nth-child(7){ animation-delay: .6s }
.check-item:nth-child(8){ animation-delay: .7s }
.check-item:nth-child(9){ animation-delay: .8s }
.check-item:nth-child(10){ animation-delay: .9s }
.check-item:nth-child(11){ animation-delay: 1s }
.check-item:nth-child(12){ animation-delay: 1.1s }
.check-item:nth-child(13){ animation-delay: 1.2s }
.check-item:nth-child(14){ animation-delay: 1.3s }
.check-item:nth-child(15){ animation-delay: 1.4s }
.check-item:nth-child(16){ animation-delay: 1.5s }
.check-item:nth-child(17){ animation-delay: 1.6s }
.check-item:nth-child(18){ animation-delay: 1.7s }
.check-item:nth-child(19){ animation-delay: 1.8s }
.check-item:nth-child(20){ animation-delay: 1.9s }
.check-item:nth-child(21){ animation-delay: 2s }
.check-item:nth-child(22){ animation-delay: 2.1s }
.check-item:nth-child(23){ animation-delay: 2.2s }
.check-item:nth-child(24){ animation-delay: 2.3s }

button {
	background-color: #428bca;
	border-color: transparent;
	color: #fff;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 3px;
	box-shadow: none;
	cursor: pointer;
}

button[disabled] {
	background-color: #428bca;
	animation: none;
	cursor: not-allowed;
	opacity: 0.65;
}

.hidden {
	display: none;
}

#compat-check button {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	margin: 10px 0 20px;
	float: right;
}


#install {
	background: #ecf0f1;
	overflow-y: auto;
	height: 100%;
	color: #33495e;
	font-weight: 200;
	font-family: "Helvetica", sans-serif;
	margin: 0;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

#install .center-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}

#install .center-buttons > .primary:first-of-type {
	margin-right: 10px;
}

#install .input-container {
	margin-bottom: 20px;
}

#install .input-container > label {
	display: block;
	margin-bottom: 5px;
	font-weight: 500;
}

#install .input-container > input, #install .input-container > select, #install .input-container > textarea {
	display: block;
	border: 1px solid #e0e0e0;
	height: 34px;
	padding: 6px 12px;
	color: #555;
	box-shadow: none;
	border-radius: 3px;
	font-family: sans-serif;
	width: 100%;
}

.help-block {
	font-style: italic;
	font-size: 13px;
	margin-top: 5px;
}

#error {
	background-color: #ea6153;
	color: #fff;
	padding: 15px;
	text-align: center;
	margin: 20px 0;
	border-radius: 3px;
}

#error a {
	color: #fff;
	font-weight: bold;
	font-style: italic;
}

#install .update-container {
	text-align: center;
}

#install .update-container .btn {
	width: 30%;
	border-bottom: 3px solid #588704;
}

#install .update-container p {
	margin: 20px 0;
}

#install .update-container h2 {
	color: #cbcbcc;
}

.header {
	background-color: #162430;
	color: #fff;
}

.header .container {
	display: flex;
	align-items: center;
	padding: 30px 0 90px;
}

.header h2 {
	color: #888a8c;
	font-size: 32px;
	margin: 0;
	font-weight: 100;
	text-transform: capitalize;
	margin-top: 15px;
}

#install .logo {
	width: 186px;
	height: auto;
}

.logo > img {
	display: block;
	width: 100%;
	height: auto;
}

#install .admin-account .btn-success {
	margin-top: 10px;
	border-radius: 4px;
	border-color: #78b806;
	border-bottom: 4px solid #588704;
}

#install #loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 120px;
	background-color: rgba(0, 0, 0, 0.1);
	color: #fff;
	z-index: 10000;
}

#install #loader > md-progress-circular {
	top: 50%;
	left: 47%;
}

#install .step-panel {
	margin-top: 50px;
}

#install .check-item {
	padding: 10px;
	padding-left: 5px;
	margin-bottom: 10px;
	background-color: #fff;
	position: relative;
	font-size: 14px;
}

#install .check-item .check {
	display: flex;
	align-items: center;
}

#install .check-item .info {
	padding: 10px 0 0 5px;
	font-size: 13px;
	font-style: italic;
	font-weight: 600;
	background-color: transparent;
	color: inherit;
}

#install .check-item p {
	display: block;
	width: 100px;
}

.icon-ok-circled2 {
	color: #8da85e;
	font-size: 21px;
	margin-right: 5px;
}

.icon-cancel-circled2 {
	color: #c30;
	font-size: 21px;
	margin-right: 5px;
}

.capitalize {
	text-transform: capitalize;
}

#install .next-button-right {
	margin-top: 40px;
	width: 100%;
	text-align: right;
}

#install .next-button-right button {
	width: 30%;
}

#install #site_description {
	padding-bottom: 10px;
}

#install #configuration .btn {
	margin-top: 20px;
}

#install #compat-check h4 {
	margin-top: 30px;
	text-align: center;
}

#install #compat-check .btn {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 30px;
	border-radius: 0;
}

#install #compat-check p {
	margin: 15px 0 25px 0;
	text-align: center;
}

#install .danger {
	background: #ea6153;
	color: #fff;
	padding: 5px;
}

#install .success {
	background: #78b806;
	color: #fff;
	padding: 5px;
}

.alert {
	color: #fff;
	text-align: center;
}

.wizard {
	display: flex;
	width: 100%;
	position: relative;
	padding-top: 15px;
	justify-content: flex-end;
}

.wizard li {
	display: block;
	flex: 0 0 auto;
	text-align: center;
	padding-left: 0;
	color: #757a7e;
	display: inline;
	font-size: 20px;
	font-weight: 700;
	padding: 14px 21px;
	border-radius: 50%;
	border: 1px solid #757a7e;
	line-height: normal;
	position: relative;
	text-align: center;
	margin-right: 100px;
}

.wizard li:last-child {
	margin-right: 0;
}

.wizard li.active {
	background: #a9302c;
	color: #fff;
	border-color: transparent;
}

.site-urls {
	display: flex;
}

.site-urls .col {
	flex: 1 1 50%;
}

.finalize h4 {
	font-size: 18px;
	font-weight: 200;
	margin-top: 10px;
}

.finalize p {
	font-size: 14px;
}

.finalize .install-success {
	color: #8da85e;
	margin-top: 50px;
	font-size: 21px;
}

.info {
	background-color: #5e6ca8;
	color: #fff;
	padding: 20px;
	border-radius: 3px;
}

svg {
	display: block;
	position: absolute;
	top: 140px;
	left: 0;
}

svg path {
	fill: #ecf0f1;
	stroke: #ecf0f1;
}

.admin-account, .database-details {
	background-color: #fff;
	padding: 20px;
}