<div class="modal hidden" id="playlist-name-modal" ng-controller="PlaylistModifyController">
    <div class="backdrop" modal-backdrop></div>

    <div class="modal-content">
        <div class="modal-header">
            <h1>{{ 'enterPlaylistsName' | translate }}</h1>
            <div ng-click="closeModal()" class="close-modal-icon"><i class="icon icon-cancel"></i></div>
        </div>
        <div class="modal-error"></div>
        <div class="input-container">
            <input type="text" ng-model="params.name" placeholder="{{ 'name' | translate }}">
        </div>

        <div class="buttons">
            <button ng-click="closeModal()" class="cancel">{{ 'cancel' | translate }}</button>
            <button ng-click="createNewPlaylist()" ng-disabled="!params.name" class="primary">{{ 'create' | translate }}</button>
        </div>
    </div>
</div>