<div class="modal hidden" id="reset-password-modal">
    <div class="backdrop" modal-backdrop></div>

    <div class="modal-content">
        <div class="modal-header">
            <h1>{{:: 'passwordRecovery' | translate }}</h1>
            <div ng-click="closePasswordResetModal()" class="close-modal-icon"><i class="icon icon-cancel"></i></div>
        </div>
        <div class="input-container">
            <input type="email" ng-model="passResetCredentials.email" placeholder="{{:: 'email' | translate }}">
            <div class="modal-error">{{ resetPasswordError }}</div>
            <div class="modal-info" ng-if="!resetPasswordError">{{:: 'passResetExpl' | translate }}</div>
        </div>

        <div class="buttons">
            <button ng-click="closePasswordResetModal()" class="cancel">{{ 'cancel' | translate }}</button>
            <button ng-click="resetPassword()" ng-disabled="!passResetCredentials.email" class="primary">{{ 'sendEmail' | translate }}</button>
        </div>
    </div>
</div>