#account-settings-modal {
  .modal-content {
    padding: 0;
    overflow: auto;
  }

  @media screen and ( max-height: 720px ) {
    .md-modal-header {
      display: none !important;
    }

    .md-modal-nav-item {
      font-size: 25px !important;
    }
  }

  .modal-header {
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    padding-bottom: 20px;
    flex: 0 0 auto;

    > .name {
      text-align: center;
      color: $text-color;
      font-size: 25px;
      font-weight: 100;
    }

    > .email {
      padding-top: 5px;
      text-align: center;
      color: $text-color;

    }
  }

  .md-modal-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px auto 0;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .md-modal-nav {
    background-color: $accent-color;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;

    > .md-modal-nav-item {
      font-size: 2rem;
      padding: 15px;
      flex: 1 1 auto;
      text-align: center;
      cursor: pointer;

      &.active {
        background-color: #fff;
        color: #22322F;
      }
    }
  }

  .md-modal-tab {
    display: none;
    flex-direction: column;
    padding: 35px 25px 20px 25px;
    flex: 0 0 auto;

    .input-container {
      margin-bottom: 20px;

      > label {
        margin-bottom: 5px;
        display: block;
        font-weight: 500;
        color: rgba(0,0,0,.36);
      }

      select, input {
        width: 100%;
        height: 40px;
        padding: 0 10px;
        border: 1px solid $admin-panel-border-color;
      }
    }

    &.open {
      display: flex;
    }
  }

  .avatar-tab {
    .img-responsive {
      width: 50%;
      max-width: 120px;
      margin: 15px auto;
    }

    p {
      text-align: center;
    }
  }

  .buttons {
    margin-top: 30px;
    md-select {
      padding-left: 2px;
    }
  }


  md-input-container {
    padding-bottom: 10px;

    label {
      color: rgba(0,0,0,0.36) !important;
    }
  }
}