.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;

  &.wider {
    > .modal-content {
      width: 600px;
      max-width: 600px;
    }
  }

  > .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 7;
  }

  > .modal-content {
    position: relative;
    z-index: 8;
    background-color: #fff;
    min-width: 450px;
    max-height: 80%;
    max-width: 500px;
    padding: 25px 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    color: rgba(0,0,0,.87);
    -webkit-font-smoothing: antialiased;
    transition: all .4s cubic-bezier(.25,.8,.25,1);
    transform: translate3d(0,100%,0) scale(0.2);
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;

    @media only screen and (max-width:$phone) {
      max-width: none;
      min-width: initial;
      width: 95%;
    }

    &.scale-in {
      transform: translate3d(0,0,0) scale(1);
      opacity: 1;
    }

    strong {
      font-weight: 700;
      font-size: 0.93rem;
    }

    > .sub-header {
      margin-top: 10px;
      font-size: 0.93rem;
    }

    .modal-error {
      color: #e74c3c;
      margin: 10px 0 20px;
    }

    > .input-container {
      margin: 15px 0;
      
      > input {
        display: block;
        width: 100%;
        height: 38px;
        margin-bottom: 10px;
        border: 1px solid rgba(0,0,0,0.12);
        padding: 6px 12px;
        box-sizing: border-box;
      }
    }

    .buttons {
      text-align: right;
      margin-top: 25px;
    }

    > .modal-header {
      position: relative;
      color: #4d4d4d;

      > h1 {
        margin: 0;
        font-size: 1.3rem;
        font-weight: 500;
      }

      > .close-modal-icon {
        position: absolute;
        top: -1px;
        right: 0;
        cursor: pointer;
        font-size: 1.2rem;
      }
    }
  }
}