#player-controls {
  background-color: $player-container-color;
  color: $player-text-color;
  flex: 0 0 $player-controls-height;
  width: 100%;
  display: flex;
  border-top: 1px solid $player-container-border-color;
  position: relative;

  @media only screen and (max-width:$phone) {
    padding-top: 6px;
  }

  .lyrics {
    display: flex;
    align-items: center;
    color: darken($player-text-color, 25%);
    margin: 0 20px 0 15px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &.showing-lyrics {
      color: $accent-color;

      &:hover {
        color: lighten($accent-color, 10%);
      }
    }

    &:hover {
      color: $player-text-color;
    }
  }

  .volume-container {
    display: flex;
    align-items: center;
    font-size: 1.1rem;

    > .volume {
      margin-right: 7px;
      cursor: pointer;

      &:hover {
        color: lighten($player-text-color, 10%);
      }
    }

    > .volume-bar {
      width: 90px;
      height: $progress-height;
      background-color: $player-seekbar-color;
      position: relative;
      display: inline-block;
      cursor: pointer;

      &:hover {
        > .volume-handle {
          visibility: visible;
        }
      }

      > .volume-level {
        position: absolute;
        width: 0;
        height: $progress-height;
        background-color: lighten($player-seekbar-color, 20%);
        z-index: 1;
      }

      > .volume-handle {
        visibility: hidden;
        position: absolute;
        left: 0;
        top: -3.3px;
        background-color: $player-handle-color;
        width: (85 / 100) * $handle-height;
        height: (85 / 100) * $handle-height;
        border-radius: 50%;
        z-index: 2;
      }
    }
  }

  > .buttons {
    display: flex;
    align-items: center;
    margin: 0 20px 0 15px;

    > i {
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: lighten($player-text-color, 10%);
      }
    }

    &.right {
      color: darken($player-text-color, 25%);
      transition: all .4s cubic-bezier(.25,.8,.25,1);
      
      &.closed {
        transform: translateX(300px);
      }

      @media only screen and (max-width:$phone) {
        position: absolute;
        right: 0;
        bottom: $player-controls-height;
        background-color: $background-color-lighter;
        padding: 10px;
        margin: 0;
      }
    }

    > .toggle-video {
      margin: 0 10px 0 0;
    }

    > .toggle-queue {
      font-size: 1.3rem;
    }

    > .shuffle {
      margin: 0 5px 0 10px;

      &.shuffling {
        color: $accent-color;

        &:hover {
          color: lighten($accent-color, 10%);
        }
      }
    }

    > .repeat {
      margin: 0 20px 0 5px;
      cursor: pointer;
      font-size: 1.3rem;
      position: relative;
      transition: color 0.1s ease-in-out;

      &:hover {
        color: lighten($player-text-color, 10%);
      }

      &.repeating {
        color: $accent-color;

        &:hover {
          color: lighten($accent-color, 10%);
        }
      }

      &.repeating-one {
        color: $accent-color;

        &:hover {
          color: lighten($accent-color, 10%);
        }

        &:before {
          content: "1";
          position: absolute;
          right: 0;
          top: 3px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $accent-color;
          color: $player-container-color;
          font-size: 0.6rem;
          font-weight: bold;
          padding-left: 2px;
        }
      }
    }

    > .toggle-play, > .track-loading {
      font-size: 2.2rem;
    }

    > .next, > .prev {
      font-size: 1.1rem;
    }
  }

  .buttons .icon, .lyrics {
    &.disabled {
      color: darken($player-text-color, 60%) !important;
      cursor: default;
    }
  }
  
  .track-info, .controls-toggler {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    flex: 1 1 auto;

    @media only screen and (max-width:$phone) {
      display: flex;
    }

    > .artist-name {
      color: $text-color-darker;
    }
  }
  
  .controls-toggler {
    font-size: 1.2rem;
    transform: rotate(90deg);
  }
}

.progress-container {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  color: darken($player-text-color, 20%);
  font-size: 13px;

  @media only screen and (max-width:$phone) {
    flex: 0 0 auto;
  }
}

.progress-bar {
  height: (82 / 100) * $player-controls-height;
  margin: 0 10px;
  position: relative;
  flex: 1 1 auto;
  cursor: pointer;
  display: inline-block;

  &:hover {
    > .handle {
      visibility: visible;
    }
  }

  > .elapsed {
    position: absolute;
    top: (((82 / 100) * $player-controls-height / 2) - ($progress-height / 2));
    background-color: $accent-color;
    width: 0;
    height: $progress-height;
    z-index: 2;
  }

  > .progress {
    position: absolute;
    top: (((82 / 100) * $player-controls-height / 2) - ($progress-height / 2));
    background-color: $player-seekbar-color;
    height: $progress-height;
    width: 100%;
    z-index: 1;
  }

  > .handle {
    visibility: hidden;
    position: absolute;
    top: ((41px / 2) - ($handle-height / 2));
    left: 0;
    background-color: $player-handle-color;
    width: $handle-height;
    height: $handle-height;
    border-radius: 50%;
    z-index: 3;
  }

  @media only screen and (max-width: $phone) {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    margin: 0;

    > .elapsed, > .progress {
      top: 0;
    }

    > .handle {
      top: -4px;
    }
  }
}